<!DOCTYPE HTML>
<html lang='en-US'>
<head>
<meta charset='utf-8'>
<title>Dungeon Vault</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<style>
body {
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
}
.btn, .form-control {
    font-size: inherit;
}
</style>
</head>
<body>

<div id="app"></div>

<template id="template">

<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Basics
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label class="label">Name</label>
                    <input type="text" v-model="pc.name" class="form-control">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Size</label>
                            <select v-model="pc.size" class="form-control">
                                <option v-for="size in rules.sizes" v-bind:value="size.id">
                                    {{size.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type</label>
                            <select v-model="pc.type" class="form-control">
                                <option v-for="type in rules.types" v-bind:value="type.id">
                                    {{type.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div v-for="ability in rules.abilities" class="col-sm-2">
                        <label>{{ability}}</label>
                        <input type="number" v-model.number="pc.abilities[ability]" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Levels
            </div>
            <div class="card-block">
                <div v-for="(cl, index) in pc.classes" class="form-group row">
                    <div class="col-md-4">
                        <select v-model="cl.id" class="form-control">
                            <option v-for="value in rules.classes" v-bind:value="value.id">
                                {{value.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="number" v-model.number="cl.levels" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <button @click='removeLevels(index)' class="btn btn-danger">&times;</button>
                    </div>
                </div>
                <button @click='addLevels' class="btn btn-primary">Add levels</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Defense
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Armor</label>
                            <select v-model="pc.armor.id" class="form-control">
                                <option v-bind:value="false">-</option>
                                <option v-for="armor in rules.armors" v-bind:value="armor.id">
                                    {{armor.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Enhancement</label>
                            <select v-if="pc.armor.id" v-model="pc.armor.enhancement" class="form-control">
                                <option v-for="bonus in rules.armorEnhancement" v-bind:value="bonus">
                                    +{{bonus}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Shield</label>
                            <select v-model="pc.shield.id" class="form-control">
                                <option v-bind:value="false">-</option>
                                <option v-for="shield in rules.shields" v-bind:value="shield.id">
                                    {{shield.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Enhancement</label>
                            <select v-if="pc.shield.id" v-model="pc.shield.enhancement" class="form-control">
                                <option v-for="bonus in rules.armorEnhancement" v-bind:value="bonus">
                                    +{{bonus}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Damage reduction</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" v-model.number="pc.dr.reduction" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <select v-if="pc.dr.reduction" v-model="pc.dr.vulnerability" class="form-control">
                                <option v-for="vulnerability in rules.vulnerabilities" v-bind:value="vulnerability.id">
                                    {{vulnerability.id}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Spell resistance</label>
                            <input type="number" v-model.number="pc.sr" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Natural armor</label>
                            <input type="number" v-model.number="pc.naturalArmor" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Enhancers
            </div>
            <div class="card-block">
                <div v-for="(enhancer, index) in pc.enhancers" class="form-group row">
                    <div class="col-sm-3">
                        <input type="text" v-model="enhancer.name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <select v-model="enhancer.category" class="form-control">
                            <option v-for="category in rules.enhancers.categories" v-bind:value="category.id">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select v-model="enhancer.type" class="form-control">
                            <option v-for="type in rules.enhancers.types" v-bind:value="type">
                                {{type}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" v-model.number="enhancer.bonus" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <button @click='removeEnhancer(index)' class="btn btn-danger">&times;</button>
                    </div>
                </div>
                <button @click='addEnhancer' class="btn btn-primary">Add enhancer</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p><strong>{{pc.name}}</strong><br>{{pc.size}} {{pc.type}}</p>
        <p>HP: {{hp}}</p>
        <p>{{abilitiesString}}</p>
        <p>AC: {{ac.total}}, touch {{ac.touch}}, flat-footed {{ac.flatFooted}} ({{acString}})</p>
        <p>
            Saves: {{savesString}}
        </p>
        <p v-if='pc.dr.reduction'>DR: {{pc.dr.reduction}}/{{pc.dr.vulnerability}}</p>
        <p v-if='pc.sr'>SR: {{pc.sr}}</p>
    </div>
</div>

</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.2/lodash.min.js"></script>
<script src="rules.js"></script>

<script>

var characterURI = 'stats.json';

var vm = new Vue({
    el: '#app',
    template: '#template',
    data: {
        pc: {
            name: 'Unknown',
            size: 'medium',
            type: 'humanoid',
            naturalArmor: 6,
            abilities: {
                str: 10,
                dex: 10,
                con: 10,
                wis: 10,
                car: 10,
                int: 10
            },
            weapons: {
                melee: [
                    {
                        id: "greatsword",
                        enhancement: 5,
                        elemental: [
                            "fire",
                            "electric"
                        ],
                        alignment: [
                            "evil"
                        ],
                        powerAttack: 5
                    }
                ],
                ranged: [
                    {
                        id: "longbow",
                        enhancement: 3,
                        elemental: [
                            "electric"
                        ],
                        composite: 5
                    }
                ]
            },
            armor: {
              id: "leather",
              enhancement: 5
            },
            shield: {
              id: "tower",
              enhancement: 5
            },
            dr: {
              reduction: 15,
              vulnerability: "good"
            },
            sr: 27,
            enhancers: [
                {
                  "category": "object",
                  "name": "Gloves of Dexterity",
                  "type": "dex",
                  "bonus": 6
                },
                {
                  "category": "object",
                  "name": "Belt of Giant",
                  "type": "str",
                  "bonus": 6
                },
                {
                  "category": "object",
                  "name": "Amulet of Health",
                  "type": "con",
                  "bonus": 6
                },
                {
                  "category": "object",
                  "name": "Cloak of Resistance",
                  "type": "saves",
                  "bonus": 6
                },
                {
                  "category": "object",
                  "name": "Ring of Protection",
                  "type": "deflection",
                  "bonus": 5
                },
                {
                  "category": "object",
                  "name": "Armor Scuffs",
                  "type": "armor",
                  "bonus": 6
                },
                {
                  "category": "potion",
                  "name": "Mage Armor",
                  "type": "armor",
                  "bonus": 4
                }
            ],
            classes: [
                {id: 'fighter', levels: 4},
                {id: 'cleric', levels: 4}
            ]
        },
        rules: rules
    },
    computed: {
        abilities: function () {
            var vm = this;
            return _.mapValues(vm.pc.abilities, function (value, key) {
                var ability = {name: key, score: value};
                ability.enhancer = _.chain(vm.pc.enhancers).filter({type: key}).maxBy('bonus').value();
                ability.modifier = Math.floor((ability.score + (ability.enhancer? ability.enhancer.bonus : 0) - 10) / 2);
                return ability;
            });
        },
        abilitiesString: function () {
            return _.map(this.abilities, function (value) {
                var string = value.name.toUpperCase() + ' ' + (value.modifier > -1 ? '+' : '') + value.modifier;
                if (value.enhancer) {
                    string += ' (' + value.enhancer.name + ' +' + value.enhancer.bonus + ')';
                }
                return string;
            }).join(', ');
        },
        armor: function () {
            var vm = this,
                armor;
            armor = _.find(vm.rules.armors, _.matchesProperty('id', vm.pc.armor.id));
            armor.total = armor.bonus + vm.pc.armor.enhancement;
            armor.magic = _.chain(vm.pc.enhancers).filter({type: 'armor'}).maxBy('bonus').value();
            if (armor.magic && armor.magic.bonus > armor.total) {
                armor.total = armor.magic.bonus;
            }
            return armor;
        },
        shield: function () {
            var vm = this,
                shield;
            shield = _.find(vm.rules.shields, _.matchesProperty('id', vm.pc.shield.id));
            shield.total = shield.bonus + vm.pc.shield.enhancement;
            shield.magic = _.chain(vm.pc.enhancers).filter({type: 'shield'}).maxBy('bonus').value();
            if (shield.magic && shield.magic.bonus > shield.total) {
                shield.total = shield.magic.bonus;
            }
            return shield;
        },
        size: function () {
            var vm = this,
                pcSize = {};
            _.forEach(rules.sizes, function (size, index) {
                if (vm.pc.size === size.id) {
                    size.scale = index;
                    size.hasPenalty = (size.modifier < 0)? true : false;
                    pcSize = size;
                }
            });
            return pcSize;
        },
        type: function () {
            var vm = this;
            return _.find(vm.rules.types, _.matchesProperty('id', vm.pc.type));
        },
        deflection: function () {
            var vm = this,
                deflection = 0;
            _.forEach(vm.pc.enhancers, function (enhancer) {
                if (enhancer.type === 'deflection' && deflection < enhancer.bonus) {
                    deflection = enhancer.bonus;
                }
            });
            return deflection;
        },
        effectiveDex: function () {
            var vm = this;
            if (vm.pc.armor.id && (vm.abilities.dex.modifier > vm.armor.maxDex)) {
                return vm.armor.maxDex;
            }
            return vm.abilities.dex.modifier;
        },
        acItems: function () {
            var vm = this;
            return _.map(vm.rules.acFactors, function (value) {
                value.score = _.get(vm, value.scorePath, 0);
                return value;
            });
        },
        ac: function () {
            var vm = this;
            return {
                flatFooted: _.sumBy(_.filter(vm.acItems, {flatFooted: true}), 'score') + 10,
                touch: _.sumBy(_.filter(vm.acItems, {touch: true}), 'score') + 10,
                total: _.sumBy(vm.acItems, 'score') + 10
            }
        },
        acString: function () {
            return '10 ' + _.map(this.acItems, function (value) {
                var sign = (value.score > -1)? '+' : '-';
                return [sign, Math.abs(value.score), value.type].join(' ');
            }).join(' ');
        },
        classes: function () {
            var vm = this;
            return _.map(vm.pc.classes, function (cl) {
                return _.merge(_.clone(cl), _.find(vm.rules.classes, _.matchesProperty('id', cl.id)));
            });
        },
        hp: function () {
            var vm = this;
            return _.sumBy(vm.classes, function (cl) {
                return cl.levels * (cl.dice + vm.abilities.con.modifier);
            });
        },
        saves: function () {
            var vm = this;
            return _.map(vm.rules.saves, function (save, index) {

                // Calculate base
                save.base = _.sumBy(vm.classes, function (cl) {
                    return _.includes(save.id, cl.goodSaves)? cl.levels : Math.floor(cl.levels / 2);
                });

                // Get enhancers
                save.enhancers = _.filter(vm.pc.enhancers, function (enhancer) {
                    return (enhancer.type === save.id || enhancer.type === 'saves');
                });

                // Get the active enhancer by max bonus
                save.magicBonus = (save.enhancers.length)? _.maxBy(save.enhancers, 'bonus').bonus : 0;
                save.activeEnhancer = _.findLast(save.enhancers, {bonus: save.magicBonus});

                // Calculate total
                save.modifier = save.base + vm.abilities[save.ability].modifier + save.magicBonus;

                // Return the result
                return save;
            });
        },
        savesString: function () {
            var vm = this;
            return _.map(vm.saves, function (value) {
                var string = value.id.toUpperCase() + ' ' + (value.modifier > -1 ? '+' : '') + value.modifier;
                if (value.magicBonus) {
                    string += ' (' + value.activeEnhancer.name + ' +' + value.activeEnhancer.bonus + ')';
                }
                return string;
            }).join(', ');
        },
        baseAttack: function () {
            var vm = this;
            return _.sum(_.map(vm.classes, function (cl) {
                return Math.floor(cl.attack * cl.levels);
            }));
        },
        attackCount: function () {
            var vm = this;
            var count = Math.floor(vm.baseAttack / 5);
            if (count < 1) count = 1;
            if (count > 4) count = 4;
            return count;
        },
        attacks: function () {
            var vm = this,
                attack = {};

            return _.mapValues(vm.pc.weapons, function (weapons, weaponsType) {
                return _.map(weapons, function (weapon) {
                    var str = 0,
                        powerAttack = 0;

                    // Set weapon
                    weapon = _.merge(weapon, _.find(vm.rules.weapons, _.matchesProperty('id', weapon.id)));
                    weapon.dice = vm.rules.damageIncrement[
                        _.indexOf(vm.rules.damageIncrement, weapon.dice) + (vm.size.scale - 4)
                    ];

                    // Set attack ability
                    weapon.attackAbility = (weapon.type === 'melee')? 'str' : 'dex';

                    // Set max attack bonus
                    weapon.attackFactors = {
                        baseAttack: vm.baseAttack,
                        ability: vm.abilities[weapon.attackAbility].modifier,
                        size: vm.size.modifier,
                        enhancement: weapon.enhancement,
                        powerAttack: _.isUndefined(weapon.powerAttack)? 0 : 0 - weapon.powerAttack
                    };
                    weapon.max = _.sum(_.values(weapon.attackFactors));

                    // Set full attack array
                    weapon.fullAttack = [];
                    for (i = 0; i < vm.attackCount; i++) {
                        weapon.fullAttack.push(weapon.max - (5 * i));
                    }

                    // Calculate strength
                    if (weapon.type === 'melee') {
                        str = vm.abilities.str.modifier;
                    } else if (weapon.composite !== undefined && weapon.composite) {
                        str = _.min([vm.abilities.str.modifier, weapon.composite]);
                    }

                    // Set damage
                    weapon.damage = {
                        str: str,
                        powerAttackBonus: (weapon.powerAttack !== undefined)? weapon.powerAttack : 0,
                        dice: weapon.dice,
                        enhancement: weapon.enhancement
                    };

                    // Calculate extra strength for melee attacks
                    if (weapon.type === 'melee') {
                        weapon.damage.str = (weapon.twoHands)? Math.floor(str * 1.5) : str;
                        weapon.damage.powerAttackBonus = (weapon.twoHands && weapon.powerAttack)? weapon.powerAttack * 2 : weapon.powerAttack;
                    }

                    // Get minimum fixed damage
                    weapon.damage.fixed = weapon.damage.str + weapon.enhancement + weapon.damage.powerAttackBonus;

                    // Return computed weapon stats
                    return weapon;
                });
            });
        }
    },
    watch: {
        'pc.armor.id': function (armor) {
            if (!armor) this.pc.armor.enhancement = 0;
        },
        'pc.shield.id': function (shield) {
            if (!shield) this.pc.shield.enhancement = 0;
        }
    },
    created: function () {
        //this.fetchData();
    },
    methods: {
        fetchData: function () {
            this.$http.get(characterURI).then(function (response) {
                this.pc = response.body;
            });
        },
        addLevels: function (index) {
            var vm = this;
            vm.pc.classes.push({id: 'fighter', levels: 1});
        },
        removeLevels: function (index) {
            var vm = this;
            vm.pc.classes.splice(index, 1);
        },
        addEnhancer: function (index) {
            var vm = this;
            vm.pc.enhancers.push({category: 'object', name: '', type: '-', bonus: 0});
        },
        removeEnhancer: function (index) {
            var vm = this;
            vm.pc.enhancers.splice(index, 1);
        }
    }
});

</script>
</html>